<footer class="container-fluid p-5 bg-dark text-white text-center">
    <p>&copy 2022 - Desarrollado por David Arce</p>

    <div class="iconos">
        <a href="https://wa.me/+543517050225" target="_blank">
            <i class="bi bi-whatsapp bi1"></i>
        </a>
        <a href="https://www.instagram.com/david_lbe_37/" target="_blank">
            <i class="bi bi-instagram bi2"></i>
        </a>
        <a href="https://github.com/davidcordobe?tab=repositories" target="_blank">
            <i class="bi bi-github bi3"></i>
        </a>
        <a href="https://www.linkedin.com/in/david-arce-42a476160" target="_blank">
            <i class="bi bi-linkedin bi4"></i>
        </a>
    </div>
</footer>