<div class="container text-center mb-5">
    <h1>
        <hr>
        {{titulo}}
        <hr>
    </h1>
    <h4>
        Programador FullStack
    </h4>
</div>

<div class="container-slider-flex">
    <div class="container-all">
        <input type="radio" id="1" name="image-slider" hidden>
        <input type="radio" id="2" name="image-slider" hidden>
        <input type="radio" id="3" name="image-slider" hidden>

        <div class="slide">
            <div class="item-slide">
                <img src="/img/geleria/slaider_1.jpg" class="slide-img">
            </div>
            <div class="item-slide">
                <img src="/img/geleria/slaider_2.jpg" class="slide-img">
            </div>
            <div class="item-slide">
                <img src="/img/geleria/slaider_3.jpg" class="slide-img">
            </div>
        </div>

        <div class="pagination">
            <label for="1" class="pagination-item">
                <img src="/img/geleria/slaider_1.jpg" class="slide-img">
            </label>
            <label for="2" class="pagination-item">
                <img src="/img/geleria/slaider_2.jpg" class="slide-img">
            </label>
            <label for="3" class="pagination-item">
                <img src="/img/geleria/slaider_3.jpg" class="slide-img">
            </label>
        </div>
    </div>

</div>

    <div class="texto container">
        <h4 class="intro">
            <hr>
            Mi nombre es David Arce. Soy un diseñador web de Córdoba Argentina. Estoy estudiando una Diplomatura en programacion
            web FullStack en la Universidad Tecnologica Nacional. Siempre he sido alguien que tiene tanto un lado creativo como lógico. Cuando
            descubrí el diseño web en la universidad, me di cuenta de que encajaría perfectamente. Podría usar mi lado creativo para
            diseñar y mi lado lógico para programar. Como beneficio adicional, ser diseñador y desarrollador me permite asegurarme
            de que no se pierda ningún detalle.
            <hr>
        </h4>
    </div>


<div class="container albun">
    <div class="container albun_grid">
        <img src="/img/geleria/html.png" alt="html" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="/img/geleria/css.png" alt="css" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="/img/geleria/js.png" alt="java" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="/img/geleria/bootstrap.jpg" alt="bootstrap" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="/img/geleria/react.png" alt="react" class="albun--">
    </div>
    <div class="container albun_grid">
        <img src="/img/geleria/angular.png" alt="angular" class="albun--">
    </div>

</div>